/* Different College Styles */

.ADNOstyle
{
	background: url(Images/cl_caes.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}

.AANSstyle
{
	background: url(Images/cl_AANS.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}


.AAREstyle
{
	background: url(Images/cl_AARE.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}
.ABAEstyle
{
	background: url(Images/cl_AANS.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}

.ABMLstyle
{
	background: url(Images/cl_ABML.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}

.AEHTstyle
{
	background: url(Images/cl_AEHT.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}


.AHCDstyle
{
	background: url(Images/cl_AHCD.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}

.AINDstyle
{
	background: url(Images/cl_AIND.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}

.ALAWstyle
{
	background: url(Images/cl_LAWR.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}

.APLSstyle
{
	background: url(Images/cl_APLS.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}

.APPAstyle
{
	background: url(Images/cl_APPA.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}

.AVITstyle
{
	background: url(Images/cl_AVIT.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}

.BMICstyle
{
	background: url(Images/cl_BMIC.gif) no-repeat top right;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}

.CABAstyle
{
	background: url(Images/cl_CABA.gif) no-repeat;
	float:right;
	padding-top: 150px; 
	overflow:hidden;
}
