/* 
FRAC 1.0
CSS by Viet Tran
May 2007
 */

body 
{
	background:url(Images/background.jpg) repeat-x #e8e3d0;
	height:100%;
	font-size:0.8em;
	font-family: Trebuchet MS, Arial, Georgia;
}

html, body, #wrapper, #aspnetForm
{
	height:100%;
	margin:0;
}

#wrapper 
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#content
{
	clear: both;
	background-color: #fff;
	border-left: solid 1px #ccc8b5;
	border-right: solid 1px #ccc8b5;
	height:100%;
	margin-top:7px;
}

#breadcrumbs
{
	background-color:#e3edf7;
	margin: 1px;
}

#bodytext
{
	clear:both;
	padding:20px;
}

.headingBlue
{
	color:#0b65c5;
	font-size: 1.2em;
	font-weight: bold;
}

.grayThang
{
	height:60px;
	background-color: #eee;
}

.dottedBotBorder td
{
	border-bottom: dotted 1px #333333;
}

.dottedBotBorder tr:hover td
{
	background-color: #e3edf7;
}

a:link { color:#0b65c1; text-decoration: none; font-weight:bold; }
a:visited { color:#0b65c1; }
a:hover { color:#a50000; }
a:active { color:#a50000; }

/* Context Drop Down Menu */
.ContextMenuPanel 
{
	border: 1px solid #868686;
	z-index: 1000;
	background: url(Images/menu-bg.gif) repeat-y 0 0 #FAFAFA;
	cursor: default;
	padding: 1px 1px 0px 1px;
	font-size: 11px;
}
.ContextMenuBreak
{
	margin:1px 1px 1px 32px;
	padding:0;
	height:1px;
	overflow:hidden;
	display:block;
	border-top: 1px solid #C5C5C5;	
}
a.ContextMenuItem
{
	margin: 1px 0 1px 0;
	display: block;
	color: #003399;
	text-decoration: none;
	cursor: pointer;	
	padding: 4px 19px 4px 33px;
}
a.ContextMenuItem-Selected
{
	font-weight: bold;
}
a.ContextMenuItem:hover
{
	background-color: #FFE6A0;
	color: #003399;
	border: 1px solid #D2B47A;
	padding: 3px 18px 3px 32px;
}
/*  -------------------- */