/* 
FRAC 1.0 CSS
 */

body 
{
	background:url(Images/background.jpg) repeat-x #e8e3d0;
	height:100%;
	font-size:0.8em;
	font-family: Trebuchet MS, Arial, Georgia;
}

html, body, #wrapper, #aspnetForm, #fom1, #content
{
	height:100%;
	margin:0;
}

#wrapper 
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#content
{
	clear: both;
	background-color: #fff;
	border-left: solid 1px #ccc8b5;
	border-right: solid 1px #ccc8b5;
	margin-top:7px;
	margin-bottom: 0px;
}

#breadcrumbs
{
	background-color:#e3edf7;
	margin: 1px;
}

#bodytext
{
	clear:both;
	padding:20px;
}

.headingBlue
{
	color:#0b65c5;
	font-size: 1.2em;
	font-weight: bold;
}

.grayThang
{
	height:60px;
	background-color: #eee;
}

.dottedBotBorder td
{
	border-bottom: dotted 1px #333333;
}

.dottedBotBorder tr:hover td
{
	background-color: #e3edf7;
}

a:link { color:#0b65c1; text-decoration: none; font-weight:bold; }
a:visited { color:#0b65c1; }
a:hover { color:#a50000; }
a:active { color:#a50000; }

/* Context Drop Down Menu */
.ContextMenuPanel 
{
	border: 1px solid #868686;
	z-index: 1000;
	background: url(Images/menu-bg.gif) repeat-y 0 0 #FAFAFA;
	cursor: default;
	padding: 1px 1px 0px 1px;
	font-size: 11px;
}
.ContextMenuBreak
{
	margin:1px 1px 1px 32px;
	padding:0;
	height:1px;
	overflow:hidden;
	display:block;
	border-top: 1px solid #C5C5C5;	
}
a.ContextMenuItem
{
	margin: 1px 0 1px 0;
	display: block;
	color: #003399;
	text-decoration: none;
	cursor: pointer;	
	padding: 4px 19px 4px 33px;
}
a.ContextMenuItem-Selected
{
	font-weight: bold;
}
a.ContextMenuItem:hover
{
	background-color: #FFE6A0;
	color: #003399;
	border: 1px solid #D2B47A;
	padding: 3px 18px 3px 32px;
}
/*  -------------------- */
/*Modal Popup*/
.modalBackground {
	background-color:Gray;
	filter:alpha(opacity=70);
	opacity:0.7;
}

.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:75%;
}

.applicationMenu 
{
	list-style:none;
	padding:0;
	margin:0;
	font-size: 1.1em;
	letter-spacing: -0.2px;
}

.applicationMenu li.unselected
{
	width:203px;
	height: 41px;
	background-image: url(Images/appmenuUnsel.gif);
}

.applicationMenu li.selected
{
	width:203px;
	height: 41px;
	background-image: url(Images/appmenuSel.gif);
}

.unselected a:link { color:#000; text-decoration: none; }
.unselected a:link { color:#000; }
.unselected a:hover { color:#a50000; }
.unselected a:active { color:#a50000; }
.selected a:hover { color:#0b65c1; }

.applicationMenu li.unselected:hover
{
	background-image: url(Images/appmenuHilight.gif);
}

.X
{
	margin-top:12px;
}

.appButton
{
	width:15px; float:left; margin-left:15px; padding-top:12px; height:19px;
}

.appLink 
{
  padding-top:12px;
}

.box {
	border : 1px dotted #7f7f7f;
	padding : 10px;
	background-color:#EFEFEF;
} 

.boxTitle 
{
	border : 1px solid #CCCCCC;
	position : relative;
	top : 30px;
	left : 30px;
	background-color : #FFF;
	padding : 5px 10px;
	color:#0b65c5;
	font-size: 1.2em;
	font-weight: bold;
}