/*  FRAC 1.0 CSS 
    June 2007
    By: Viet Tran
*/

body 
{
	background:url(Images/background.jpg) repeat-x #e8e3d0;

	font-size:0.8em;
	font-family: Trebuchet MS, Arial, Georgia;
	margin: 0;
	min-width: 900px;
}

html, #aspnetForm
{

	margin:0;
}

/* Resizes and centers title bar and body. */
#wrapper 
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Adds solid border around content */
#content
{
	clear: both;
	background-color: #fff;
	border-left: solid 1px #bfbaa6;
	border-right: solid 1px #bfbaa6;
	border-bottom: solid 1px #bfbaa6;
	margin-top:7px;
	margin-bottom: 0px;
}

#breadcrumbs
{
	background-color:#e3edf7;
	margin: 1px;
}

#bodytext
{
	clear:both;
	padding:20px;
}

.solidHeader
{
	background-image: url(Images/gridViewBg.gif);
	background-repeat: repeat-x;
}

.solidHeaderSmall
{
	background-image: url(Images/gridViewBgSmall.gif);
	background-repeat: repeat-x;
}

.headingBlue
{
	color:#0b65c5;
	font-size: 1.2em;
	font-weight: bold;
}

/* Adds dotted border to seperate rows in gridview */
#ctl00_ContentPlaceHolder1_gviewReferences td, #ctl00_ContentPlaceHolder1_GViewUsers td, #ctl00_ContentPlaceHolder1_gViewPositions td
{
	border-bottom: dotted 1px #333333;
	height: 50px;
}

#ctl00_ContentPlaceHolder1_gviewApplications td, #ctl00_ContentPlaceHolder1_gviewFiles td, #ctl00_ContentPlaceHolder1_gviewFiles td, #ctl00_ContentPlaceHolder1_gViewApplications td
{
	border-bottom: dotted 1px #333333;
	height: 40px;
}

#ctl00_ContentPlaceHolder1_gViewApplications td
{
	border-bottom: dotted 1px #333333;
	height: 32px;
}

.dottedBotBorder
{
	border-bottom: dotted 1px #333333;
}

/* Rows turn to light blue on hover */
.dottedBotBorder:hover td
{
	background-color: #e8f2fb
}

/* Link colors */
a:link { color:#0b65c1; text-decoration: none; font-weight:bold; }
a:visited { color:#0b65c1; }
a:hover { color:#a50000; }
a:active { color:#a50000; }


/*                               */
/*     APPLICATION MENU CSS      */
/*                               */

/* Creates list out of app links and destylizes it */
.applicationMenu 
{
	list-style:none;
	padding:0;
	margin:0;
	font-size: 1.1em;
	letter-spacing: -0.2px;
}

/* Creates light blue unselected button */
.applicationMenu li.unselected
{
	width:203px;
	height: 41px;
	background-image: url(Images/appmenuUnsel.gif);
}

/* Creates white selected button */
.applicationMenu li.selected
{
	width:203px;
	height: 41px;
	background-image: url(Images/appmenuSel.gif);
}

/* Link colors for application tabs*/
.unselected a:link { color:#000; text-decoration: none; }
.unselected a:link { color:#000; }
.unselected a:hover { color:#a50000; }
.unselected a:active { color:#a50000; }
.selected a:hover { color:#0b65c1; }

/* Rollover effect, turns tabs yellow on hover */
.applicationMenu li.unselected:hover
{
	background-image: url(Images/appmenuHilight.gif);
}

/* Changes link size to cover background image */
.applicationMenu li .appLink a 
{
	float:left;
	width: 151px;
	padding-top:12px;
	padding-bottom:10px;

}
/* Formatting for X, Check, and Link Buttons */
.X
{
	margin-top:12px;
}

.appButton
{
	width:15px; float:left; margin-left:15px; padding-top:12px; 
}

.appLink 
{

}


/* Creates a box around form */
.box 
{
	margin-left:20px;
	border : 1px dotted #7f7f7f;
	padding : 10px;
	background-color:#EFEFEF;
} 

.boxTitle 
{
	border : 1px solid #CCCCCC;
	position : relative;
	top : 12px;
	left : 30px;
	background-color : #FFF;
	padding : 5px 10px;
	color:#0b65c5;
	font-size: 1.2em;
	font-weight: bold;
	margin-left:20px;
}

.loginHide
{
	display:none;
}

.paddingLeft
{
	padding-left:10px;
}

.paddingRight
{
	padding-right:10px;
}

/* Adds shadow to bottom of content page*/
#shadowBottom 
{
	width: 89%; height:2px; background-color:#d5cfb8; margin-left:auto; margin-right:auto; padding-left:3px; padding-right:3px;
}

/* Context Drop Down Menu */
.ContextMenuPanel 
{
	border: 1px solid #868686;
	z-index: 1000;
	background: url(Images/menu-bg.gif) repeat-y 0 0 #FAFAFA;
	cursor: default;
	padding: 1px 1px 0px 1px;
	font-size: 11px;
}
.ContextMenuBreak
{
	margin:1px 1px 1px 32px;
	padding:0;
	height:1px;
	overflow:hidden;
	display:block;
	border-top: 1px solid #C5C5C5;	
}
a.ContextMenuItem
{
	margin: 1px 0 1px 0;
	display: block;
	color: #003399;
	text-decoration: none;
	cursor: pointer;	
	padding: 4px 19px 4px 33px;
}
a.ContextMenuItem-Selected
{
	font-weight: bold;
}
a.ContextMenuItem:hover
{
	background-color: #FFE6A0;
	color: #003399;
	border: 1px solid #D2B47A;
	padding: 3px 18px 3px 32px;
}
/*  -------------------- */
/*Modal Popup*/
.modalBackground {
	background-color:#343434;
	filter:alpha(opacity=90);
	opacity:0.9;
}

.modalPopup {
	background-color:#EFEFEF;
	border : 1px dotted #7f7f7f;
}

.modalTitle 
{
	border : 1px solid #CCCCCC;
	position : relative;
	top : -10px;
	left : 25px;
	background-color : #FFF;
	padding : 5px 10px;
	color:#0b65c5;
	font-size: 1.2em;
	font-weight: bold;
}

/*                               */
/*      DROPDOWN MENU CSS        */
/*                               */

.dropdownmenu {
float:right; text-align:right; position:relative; background:transparent; width:240px;  margin:0;
}
.dropdownmenu ul {
padding:0; margin:0; list-style-type: none;
}
.dropdownmenu ul li {
float:right; position:relative;
}

.dropdownmenu ul li.news {background:transparent;}
.dropdownmenu ul li.subnews {background:transparent url(Images/ddmenusubnews.gif) no-repeat;}
.dropdownmenu ul li.subnews2 {background:transparent url(Images/ddmenusubnews2.gif) no-repeat;}
.dropdownmenu ul li.subnews3 {background:transparent url(Images/ddmenusubnews3.gif) no-repeat;}
.dropdownmenu ul li.subsubr {background:#eee url(previous.gif) no-repeat 145px 0;}

.dropdownmenu ul li a#welcome, .dropdownmenu ul li a#welcome:visited {
display:block; text-decoration:none; height: 20px; width: 270px; color: #000; font-weight: normal;
}

.dropdownmenu ul li:hover ul li {padding: 2px;}

.dropdownmenu ul li:hover a#welcome {
text-decoration:none; color:#a50000; 
}

.dropdownmenu ul li a, .dropdownmenu ul li a:visited {
display:block; text-decoration:none; width: 230px; float: right;
}
* html .dropdownmenu ul li a, .dropdownmenu ul li a:visited {
width:230px; w\idth:210px;
}

.dropdownmenu ul li ul {
visibility:hidden; position:absolute; top:0; left:0; height:0; overflow:hidden;
}
.dropdownmenu table {
margin:-1px; border-collapse:collapse;
}

/* first line style for IE7 and non-IE browsers and the second line for IE5.5 and IE6 */
.dropdownmenu ul li:hover a,
.dropdownmenu ul li a:hover 
{ border:0; }

.dropdownmenu ul li:hover ul {
visibility:visible; width:230px; height:auto; position:absolute; top:20px; left:38px; background:#fff; border:1px solid #868686; overflow:visible;
}

.dropdownmenu ul li a:hover ul {
visibility:visible; width:230px; height:auto; position:absolute; top:20px; left:38px; background:#fff; border:1px solid #868686; overflow:visible;
}

.dropdownmenu ul li:hover ul li a,
.dropdownmenu ul li a:hover ul li a {
display:block; background:transparent; text-decoration:none; height:auto; line-height:1.5em; padding:5px 10px 5px 35px; width:230px; w\idth:180px;
}
.dropdownmenu ul li:hover ul li a.drop,
.dropdownmenu ul li a:hover ul li a.drop {
display:block; height:auto; line-height:1.5em; padding:5px 10px 5px 35px; width:230px; w\idth:180px;
}
.dropdownmenu ul li:hover ul li ul,
.dropdownmenu ul li a:hover ul li a ul {
visibility:hidden; position:absolute; top:0; left:0; height:0; overflow:hidden;
}

.dropdownmenu ul li:hover ul li:hover ul,
.dropdownmenu ul li a:hover ul li a:hover ul {
visibility:visible; position:absolute; top:0; left:166px; height:auto; border:1px solid #868686;
}
.dropdownmenu ul li:hover ul li:hover ul.left,
.dropdownmenu ul li a:hover ul li a:hover ul.left {
left:-230px;
}

.dropdownmenu ul li:hover ul li a:hover,
.dropdownmenu ul li a:hover ul li a:hover {
background: url(Images/dropdownbg.gif) no-repeat;
}

.dropdownmenu ul li:hover ul li:hover ul li a,
.dropdownmenu ul li a:hover ul li a:hover ul li a {
display:block; height:auto; line-height:1.5em; padding:5px 10px 4px 35px; width:170px; w\idth:140px;
}
* html .dropdownmenu ul li a:hover ul li a:hover ul li a {padding:4px 10px 4px 35px;}