<connectionStrings>
  <add name="CATBERT" connectionString="Data Source=ELZAR;Initial Catalog=CATBERT;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="MainDB" connectionString="Data Source=ELZAR;Initial Catalog=Recruitment;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="RATBERT" connectionString="Data Source=ROBERTO;Initial Catalog=RATBERT;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>