<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory>
    <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
    <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
    <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
    <property name="connection.connection_string">
      Data Source=elzar;Initial Catalog=Recruitment;Integrated Security=True
    </property>
    <property name="connection.isolation">ReadCommitted</property>
    <property name="default_schema">Recruitment.dbo</property>
    <!-- HBM Mapping Files -->
    <mapping assembly="CAESDO.Recruitment.Core"/>
  </session-factory>
</hibernate-configuration>